<div class="container-fluid">
    <h3 class="text-center">Add-On Products</h3>
    <div class="table-responsive">
        <table class="table table-bordered text-center mobile-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for addon_product in addon_products %}
                <tr class="addon-item">
                    <td class="addon-image align-middle">
                        <div class="image-container">
                            {% if addon_product.image %}
                                <img class="card-img-top img-fluid" src="{{ addon_product.image.url }}" alt="{{ addon_product.name }}">
                            {% else %}
                                <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dcfn1wr8r/image/upload/f_auto,q_auto/ebyvaxpq9apybsagk0xu" alt="{{ addon_product.name }}">
                            {% endif %}
                        </div>
                    </td>
                    <td class="align-middle">{{ addon_product.name }}</td>
                    <td class="align-middle">£{{ addon_product.price }}</td>
                    <td class="align-middle">
                        {% if addon_product.inventory.quantity > 0 %}
                        <form class="form-inline justify-content-center" action="{% url 'add_to_cart' addon_product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group input-group-addon">
                                    <button class="decrement-qty btn btn-black rounded-0 btn-quantity" 
                                        data-item_id="{{ addon_product.id }}" id="decrement-qty_{{ addon_product.id }}">
                                        <span class="icon icon-mobile">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                    <input class="form-control qty_input" type="number"
                                        name="quantity" value="1" min="1" max="{{ addon_product.inventory.quantity }}"
                                        data-item_id="{{ addon_product.id }}"
                                        id="id_qty_{{ addon_product.id }}">
                                    <button class="increment-qty btn btn-black rounded-0 btn-quantity"
                                        data-item_id="{{ addon_product.id }}" id="increment-qty_{{ addon_product.id }}">
                                        <span class="icon icon-mobile">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <button type="submit" class="btn btn-black rounded-0 text-uppercase mt-2 ml-2 mobile-cart-addon"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </form>
                        {% else %}
                        <p class="text-danger">Out of Stock</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
