{% load crispy_forms_tags %}

<footer class="container-fluid bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-links">
                    <a href="#" target="_blank" rel="noopener noreferrer" class="text-white mr-3" aria-label="Facebook"><i class="fab fa-facebook"></i> Facebook</a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="text-white" aria-label="Instagram"><i class="fab fa-instagram"></i> Instagram</a>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Legal</h5>
                <p>
                    <a href="#" class="text-white" data-toggle="modal" data-target="#termsModal" aria-label="Terms of Service">Terms of Service</a>
                </p>
                <p>
                    <a href="#" class="text-white" data-toggle="modal" data-target="#privacyModal" aria-label="Privacy Policy">Privacy Policy</a>
                </p>
            </div>
            <div class="col-md-4">
                <h5>Subscribe to Our Newsletter</h5>
                <form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=a611f1f878720d7c61dfb9d5d&amp;id=4dc7b20122&amp;f_id=002a8ee2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div class="form-group">
                        <label for="mce-EMAIL" class="text-white">Email Address <span class="text-danger">*</span></label>
                        <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" required="">
                    </div>
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>

<!-- Terms of Service Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Terms of Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'includes/pivacy_policy/terms.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Privacy Policy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyModalLabel">Privacy Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'includes/pivacy_policy/blossom_haven_privacy_policy.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>