<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="floral-arangements" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Floral Arrangements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=roses" class="dropdown-item">Roses</a>
                <a href="{% url 'products' %}?category=vibrant" class="dropdown-item">vibrant</a>
                <a href="{% url 'products' %}?category=luxurious" class="dropdown-item">Luxurious</a>
                <a href="{% url 'products' %}?category=roses,vibrant,luxurious" class="dropdown-item">All Arangements</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ocassion-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ocassion
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ocassion-link">
                <a href="{% url 'products' %}?category=valentines" class="dropdown-item">Valentines</a>
                <a href="{% url 'products' %}?category=birthday" class="dropdown-item">Birthday</a>
                <a href="{% url 'products' %}?category=mothers_day" class="dropdown-item">Mothers Day</a>
                <a href="{% url 'products' %}?category=housewarmings" class="dropdown-item">Housewarmings</a>
                <a href="{% url 'products' %}?category=thank_you" class="dropdown-item">Thank You</a>
                <a href="{% url 'products' %}?category=anniversaries" class="dropdown-item">Anniversaries</a>
                <a href="{% url 'products' %}?category=graduations" class="dropdown-item">Graduations</a>
                <a href="{% url 'products' %}?category=sympathy" class="dropdown-item">Sympathy</a>
                <a href="{% url 'products' %}?category=valintines,birthday,mothers_day,housewarmings,thank_you,anniversaries,graduations,sympathy" class="dropdown-item">All Ocassion's</a>
            </div>
        </li>
    </ul>
</div>